<% @projects.each do |project| %>
  <p><strong><%= project.title %></strong></p>
  <p><strong><%= project.description %></strong> - <em><%= project.description%></em> <%= "| #{project.percent_complete}" unless !project.percent_complete %></p>
<% end %>
